<div class="row justify-content-center">
    <div class="col-8 col-lg-12 py-2">
        <form class="search"> <input type="text" class="searchTerm" placeholder="Search..."> <button aria-label="submit" type="submit" class="searchButton"> <i class="fa fa-search"></i> </button> </form>
          
    </div>
</div>

<div id="search-result" hidden>
<div class="item medium">
  <div class="cards">
      {{- partial "card-header.html" . -}}
  <div class="cardsBody">
    <h2 class="post-title"><a class="summary-title-link"></a></h2>
    <summary class="summary"></summary>
  </div>
</div>
</div>
</div>