@font-face {
    font-family: "Franxurter";
    src: url(../fonts/FranxurterTotallyFat.ttf);
    font-display: fallback;
  }
  
  @font-face {
    font-family: "National Park";
    src: url(../fonts/NationalPark-Medium.otf);
    font-display: fallback;
  }
  
  @font-face {
    font-family: "National Park";
    src: url(../fonts/NationalPark-Bold.otf);
    font-weight: bold;
    font-display: fallback;
  }
  
  @font-face {
    font-family: "Distro";
    src: url(../fonts/distro.heavy.ttf);
    font-display: fallback;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url(../fonts/NunitoRegular.ttf);
    font-display: fallback;
  }
  
  @font-face {
    font-family: "Clayo";
    src: url(../fonts/CLAYO.ttf);
    font-display: fallback;
  }
  
  @font-face {
    font-family: "Clayo";
    src: url(../fonts/CLAYO-Italic.ttf);
    font-style: italic;
  }
  
  @font-face {
    font-family: "Clayo";
    src: url(../fonts/CLAYO-Semibold.ttf);
    font-weight: bold;
  }
  
  @font-face {
    font-family: "Kirom";
    src: url(../fonts/Kirom.ttf);
    font-display: fallback;
  }
  
  @font-face {
    font-family: "Pixel Gamer";
    src: url(../fonts/PixelGamer-Regular.otf);
    font-display: fallback;
  }
  
  @font-face {
    font-family: "Tickerbit";
    src: url(../fonts/Tickerbit-regular.otf);
    font-display: fallback;
  }