{{ define "main" }}
<main>
    <article>
        <div class="grid-wrapper-page">
            <div class="grid">
                <div class="item large">
                    <div class="cards"> {{- partial "card-header.html" . -}}
                        <div class="cardsBody">
                            <h1>#{{.Title}}</h1>
                            {{- partial "nested-menu.html" . -}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
{{ end }}