html, *, *:before, *:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--primary);
	color: var(--secondary);
	font-family: var(--body-font);
	overflow-x: hidden;
}

body a, body a:visited {
	color: var(--secondary);
	text-decoration: underline;
}

body a:hover {
	color: var(--secondary_muted);
	text-decoration: none;
}
  
  ::selection {
	color: var(--primary);
	background: var(--secondary_muted);
  }

h1, h2, h3, h4, h5, h6 {
	font-family: var(--header-font);
}

blockquote {
	margin: 0 0 10px 10px;
	padding: 0 0 0 10px;
	border-left: solid 1px var(--secondary);
}

p, ul, li, span, .sort-btn, #aWrap, #aPlay, #aList, .aRow, .gist, #microblog_recent .postText, .home-desc{
	font-size: var(--body-font-size);
}

/* Loading */
.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-transform: uppercase;
	transition: opacity 0.6s linear 0.4s;
  }
  .images-loaded .loading {
	opacity: 0;
  }


/* Nav */
nav {
	text-align: center;
}

nav#nav {
	float: left;
	width: 15vw;
	padding: 10px;
	margin: 1em;
}

nav#navAlt {
	float: right;
	width: 17vw;
	margin: 5em 5em 0em 0em;
}

nav#nav a {
	text-decoration: none;
}

@media screen and (max-width:768px) {
	body {
		width: 95%;
	}

	nav#nav {
		float: none;
		width: 80vw;
		justify-content: center;
		margin: 0 auto;
	}

	nav#navAlt {
		float: none;
		width: 95vw;
		justify-content: center;
		margin: 2vh auto;
		height: 100%;
	}
}

.navLink {
	overflow: hidden;
	font-size: calc(var(--body-font-size) / 1.2);
	padding-left: 1em;
	text-transform: uppercase;
	color: var(--secondary);
}

.navLink > div {
	height: 5vh;
	max-width: 10vw;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
}

.navLink > #home {
	background: var(--homeLink) center / contain no-repeat;
}

.navLink > #about {
	background: var(--aboutLink) center / contain no-repeat;
}

.navLink > #gallery {
	background: var(--galleryLink) center / contain no-repeat;
}

.navLink > #commissions {
	background: var(--commissionsLink) center / contain no-repeat;
}

.navLink > #code {
	background: var(--codeLink) center / contain no-repeat;
}

.navLink > #blog {
	background: var(--blogLink) center / contain no-repeat;
}

.navLink > #links {
	background: var(--linksLink) center / contain no-repeat;
}

.navLink > #microblog {
	background: var(--microblogLink) center / contain no-repeat;
}

.navLink > #library {
	background: var(--libraryLink) center / contain no-repeat;
}

.navLink > #shrines {
	background: var(--shrinesLink) center / contain no-repeat;
}

.navWrapper {
	border: 2px solid var(--secondary);
	padding: 10px;
	background-color: var(--tertiary);
	box-shadow: 6px 6px var(--secondary_muted);
}

/* Muuri */
.grid {
	position: relative;
	width: 90%;
	justify-content: center;
	margin:1em 0em 5em 0em;
  }

  .item {
	position: absolute;	
	margin: 1em;
	z-index: 1;
  }

  .item.muuri-item-hidden {
	z-index: 0;
  }

  .item.muuri-item-releasing {
	z-index: 2;
  }

  .item.muuri-item-dragging {
	z-index: 3;
  }

  .item.small {
	width: 22%;
  }

  .item.medium {
	width: 29%;
  }

  .item.mediumlarge {
	width: 35%;
  }

  .item.smallarge {
	width: 45%;
  }

  .item.large {
	width: 75%;
	margin-left: 20%;
  }

@media screen and (max-width:768px) {
	.item.small, .item.medium, .item.mediumlarge, .item.smallarge, .item.large {
		width: 80vw;
		margin-left: 6vw;
	}
  }

/* Cards */
.cards {
	border: 2px solid var(--secondary);
	background-color: var(--tertiary);
	box-shadow: 6px 6px var(--secondary_muted);
	word-wrap: break-word;
	overflow: hidden;
}

.cardsTitle {
	font-weight: bold;
	font-style: italic;
	word-wrap: break-word;
	color: var(--secondary);
}

.cardsBody {
	padding: 20px;
}

.cardsHeader {
	cursor: grab;
	height: 2.5em;
	background-color: var(--secondary);
	color: var(--tertiary);
}

.cardsControls {
	font-size: 14px;
	padding: 7px;
	color: var(--tertiary);
}

/* Comment box */
#HCB_comment_box, .btn, input#hcb_submit, .hcb-comment-tb button, #HCB_comment_box input,#HCB_comment_box input.btn,#HCB_comment_box select,#HCB_comment_box textarea, span.date {
	font-family: var(--body-font)!important;
}

.hcb-comment-tb button {
	color: var(--secondary)!important;
}

#hcb_submit, input#hcb_submit{
	color: var(--tertiary)!important;
	background-color: var(--secondary)!important;
	border: none!important;
}

/* Twemoji */
img.emoji {
	height: 1.5em;
	width: 1.5em;
}

/* Music */
/* (A) MATERIAL ICONS */
.material-icons {
	font-size: 28px;
	color: var(--secondary);
}
  
  /* (B) WRAPPER */
#aWrap {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	background: var(--tertiary);
	border: 2px solid var(--secondary);
}
  
  /* (C) PLAY/PAUSE BUTTON */
#aPlay {
	padding: 0;
	margin-top: 5px;
	border: 0;
	cursor: pointer;
}
  
#aPlay:hover {
	background: transparent;
}

  /* (D) TIME */
#aCron {
	color: var(--secondary);
	margin: 0px 10px;
}
  
  /* (E) RANGE SLIDERS */
  /* (E1) HIDE DEFAULT */
#aWrap input[type="range"] {
	box-sizing: border-box;
	width: 60%;
	appearance: none;
	border: none;
	outline: none;
	box-shadow: none;
	text-align: center;
	padding: 0;
	margin: 0;
	background: 0;
}

#aWrap input[type="range"]::-webkit-slider-thumb {
	appearance: none;
}
  
  /* (E2) CUSTOM SLIDER TRACK */
#aWrap input[type=range]::-webkit-slider-runnable-track {
	background: var(--secondary);
}

#aWrap input[type=range]::-moz-range-track {
	background: var(--secondary);
}
  
  /* (E3) CUSTOM SLIDER BUTTON */
#aWrap input[type=range]::-webkit-slider-thumb {
	width: 16px;
	height: 16px;
	margin: 1px;
	border-radius: 50%;
	border: 1px solid var(--secondary);
	background: var(--tertiary);
}

#aWrap input[type=range]::-moz-range-thumb {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid var(--secondary);
	background: var(--tertiary);
}
  
  /* (G) PLAYLIST */
#aList {
	position: relative;
	width: 100%;
	height: 28rem;
	overflow: scroll;
	margin-top: 10px;
	padding: 10px;
	color: var(--secondary);
	background-color: var(--tertiary);
	border: 2px solid var(--secondary);
}

.aRow {
	word-wrap: break-word;
	display: inline-block;
	cursor: pointer;
	padding: 10px;
}

.aRow.now {
	color: var(--secondary);
	background-color: var(--primary);
	width: 100%;
}

/* Music Player 2 */
#musicplayer {
	display: grid;
	grid-template-columns: 20px auto;
	align-items: center;
	width: 100%;
	font-size: 0.8rem;
	line-height: 140%;
	background: var(--tertiary);
	border: 2px solid var(--secondary);
	box-shadow: 6px 6px var(--secondary_muted);
}

#musicpixel {
	width: 33px;
	padding: 10px;
	position: relative;
	min-height: 20px;
	background: var(--tertiary);
	border-right: 2px solid var(--secondary);
}

.overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	transition: 0.3s ease;
	background: var(--primary);
}

#musicplayer:hover .overlay {
	opacity: 1;
	transition: 0.3s ease;
}

.playpause {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -50%);
	color: var(--secondary);
}

.playpause:hover {
	cursor: pointer;
}

#musictitle {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	width: calc(100% - 10px - 1px);
	margin-left: calc(10px + 1px);
}

.marquee {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 8s linear infinite;
	font-size: 0.8rem;
}

@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

/* Modal */
.modal-dialog {
	border: 2px solid var(--secondary);
	border-radius: 10px;
	background-color: var(--tertiary);
	color: var(--secondary);
	position: fixed;
	bottom: 20px;
	left: 10px;
}

.modal-dialog p {
	padding: -50px 2px 2px 0px;
	font-style: italic;
	line-height: 1.2;
	font-weight: 500;
	font-size: 1.1em;
}

.modal-dialog a {
	text-decoration: underline;
}

@media screen and (max-width:768px) {
	.modal-dialog {
		bottom: 40px;
		left: 3px;
	}
}

/* Material Icons */
/* Fallback */
@font-face {
	font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-osx-font-smoothing: grayscale;
}

/* Back to top */
#btn-back-to-top {
	color: var(--secondary);
	font-size: 1.5em;
	position: fixed;
	bottom: 3px;
	right: 90px;
	z-index: 9999;
	cursor: pointer;
	display: none;
}

#btn-back-to-top span {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 0;
}

#btn-back-to-top:hover {
	color: var(--secondary_muted);
	opacity: 1;
	filter: "alpha(opacity=100)";
	-ms-filter: "alpha(opacity=100)";
}

/* Arrows */
.arrows {
	text-align: center;
	font-size: 1.1em;
	padding: 5px;
	background-color: var(--tertiary);
	border: 2px solid var(--secondary);
	box-shadow: 6px 6px var(--secondary_muted);
}

/* Tag filters */
.sort-btn{
	text-align: center;
	padding: 0 5px;
	margin-top: -1em;
}

.sort-btn li{
	font-size: 0.8rem;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	border: 2px solid var(--secondary);
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.sort-btn li:hover, .sort-btn li.active{ 
	color: var(--primary);
	background-color: var(--secondary);
	border-color: var(--primary);
}

/* Clock */
.clock {
    padding: 3px;	
	color: var(--secondary);
}

/* Search */
.search {
	width: 100%;
	position: relative;
	display: flex;
	box-shadow: 6px 6px var(--secondary_muted);
}

.searchTerm {
	width: 100%;
	line-height: 140%;
	border: 2px solid var(--secondary);
	border-right: none;
	padding: 5px;
	height: 40px;
	outline: none;
	color: var(--secondary);
}

.searchTerm:focus {
	color: var(--secondary);
}

.searchButton {
	border: 2px solid var(--secondary);
	color: var(--secondary);
	text-align: center;
	justify-content: center;
	cursor: pointer;
	font-size: 20px;
	height: 40px;
	width: 40px;
}

.summary-title-link, .read-more-link, .summary {
font-size: 0.9em	
}

/*Code img*/
.preview {
     display: flex;
     flex-wrap: nowrap;
	 max-width: 100%;
	 gap: 1em;
}

.preview > img {
     margin: 5px;
}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	position: fixed;
	right: 12px;
	z-index: 1;
}

::-webkit-scrollbar-track {
	box-shadow: 0;
	border-radius: 0px;
	background-color: var(--tertiary);
}

.post ::-webkit-scrollbar-track {
	border-left: 0px solid var(--secondary);
}

::-webkit-scrollbar-thumb {
	background: var(--secondary);
	border-radius: 0px;
}

/* Code boxes */
textarea {
	resize: both;
	word-wrap: break-word;
	width: 100%;
	max-height: 70%;
	border: 1px solid var(--secondary);
	border-radius: 5px;
	font-size: 0.8em;
}

textarea::-webkit-scrollbar {
	display: none;
}

/* Iframes */
iframe.pet {
	width: 100%;
	height: 24em;
	color: var(--secondary);
}

iframe.yt {
	height: 100%;
	width: 100%;
} 

/* Scrollbox */
.scrollbox {
	max-height:15em; 
	overflow-y: scroll;
	overflow-x: hidden;
}

.large-scrollbox {
	max-height: 35em; 
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Banners */
.banner {
	display: flex; 
    justify-content: center;
	overflow-x: hidden;
}

.banner a {
	text-decoration: none;
	justify-content: center;
}

.banner img {
	padding: 1px;
	max-width: 100%;
	max-height: 100%;
}

@media screen and (max-width:768px) {
	.banner img {
		justify-content: center;
	}
}

button {
	font-size: 1em;
	transition: all .3s ease-in-out;
	color: var(--secondary);
	background-color: var(--tertiary);
	border: 2px solid var(--secondary);

}

button:hover,
button.active {
	color: var(--primary);
	background-color: var(--secondary);
	border-color: var(--primary);
}

.gist {
	max-width:100%;
 }
 
 /* Limit height. Show scrollbars when exceeding height */
 .gist .blob-wrapper.data {
	max-height:15em;
	overflow: auto;
 }

 .gist ::-webkit-scrollbar {
width: 4px;
height: 4px;
} 

/* Boxes */
#stats {
	float: left;
	border: 1px solid var(--secondary);
	background-color: var(--tertiary);
	box-shadow: 0.1em 0.1em 0.2em  var(--secondary);
	margin: 0px 10px 10px 0px;
	padding: 8px;
	max-width: 280px;
	height: 2.5em;
}

.box {
	float: left;
	border: 1px solid var(--secondary);
	box-shadow: 0.1em 0.1em 0.2em  var(--secondary);
	background-color: var(--tertiary);
	padding: 8px;
	margin: 0px 10px 10px 0px;
	min-width: 200px;
	max-width: 500px;
	z-index: 100;
	word-wrap: break-word;
}

.box-small {
	border: 1px solid var(--secondary);
	box-shadow: 0.1em 0.1em 0.2em  var(--secondary);
	background-color: var(--tertiary);
	padding: 10px;
	margin: 10px 0px 10px 0px;
	word-wrap: break-word;
}

/*Microblog*/
#microblog_recent {
	display: flex;
	flex-wrap: wrap;
	border: var(--secondary) 1px solid;
	padding: 5px;
	
}

#microblog_recent .profilePic {
	float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
	margin: 5px 10px;
}

#microblog_recent .profilePic:hover {
	filter: drop-shadow(0px 0px 20px var(--secondary));
}

#microblog_recent .postContent {
	display: block;
	margin-bottom: 0;
  } 
 
  #microblog_recent .postText {
	padding: 0.5em;
  }

#microblog_recent .postImage { 
	display: flex;
	align-content: center;
	max-width: 100%;   
	padding: 0.5em;
}

/* Footer */
footer {
	z-index: 9900;
	position: absolute;
}

footer#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	background-color: var(--tertiary);
	border-top: 2px solid var(--secondary);
	padding-bottom: 10px;
}

footer#footer ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	margin: 0;
	height: 30px;
}

footer#footer ul li {
	float: left;
	height: 30px;
}

footer#footer ul li a {
	font-size: 1em;
	line-height: 24px;
	height: 28px;
	padding: 0px 20px;
	border: 2px solid var(--secondary);
	color: var(--secondary);
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	text-decoration: none;
}

footer#footer ul li a:hover, footer#footer ul li a.selected {
	background-color: var(--secondary);
	color: var(--primary);
}

.footer-button {
	font-size: 1em;
	line-height: 24px;
	height: 28px;
	padding: 0px 20px;
	border: 2px solid var(--secondary);
	color: var(--secondary);
	background-color: var(--tertiary);
  }

/* Preloader */
  #preloader {
	align-items: center;
	width: 100%;
	display: flex;
	position: fixed;
	height: 100vh;
	justify-content: center;
	left: 0;
	top: 0;
	background: var(--secondary) url("../images/icons/three-dots.svg") no-repeat center;
    transition: opacity 1s;
	z-index: 9999;
  }
  
  .youtube-player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
  }

  .youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }

  .youtube-player img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
  }

  .youtube-player img:hover {
	filter: brightness(75%);
    -webkit-filter: brightness(75%);
  }

  .youtube-player .play {
    height: 48px;
    width: 68px;
    left: 50%;
    top: 50%;
    margin-left: -34px;
    margin-top: -24px;
    position: absolute;
    background: url('https://i.ibb.co/j3jcJKv/yt.png') no-repeat;
    cursor: pointer;
  }

  /* Webrings */
.ring {
	border: 1px solid var(--secondary);
	border-radius: 5px;
	text-align: center;
	margin:10px;
	word-wrap: break-word;
}

#safont {
	width: 145px;
	height: 81px;
}

  #neossg {
	margin: 0 auto;
	padding: 5px; /* creates some space around the widget */
  /** gradient animation from https://alvarotrigo.com/blog/css-text-animations/ **/
	background-image: linear-gradient(
	  -225deg,
	  #522aff 0%,
	  #d916eb 50%,
	  #522aff 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #44107a;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
	display: inline-block;
	text-shadow: none;
	text-decoration: none;
	vertical-align: baseline;
  }
  
  @keyframes textclip {
	to {
	  background-position: 200% center;
	}
  }
  
  #neossg table {
	margin: 0 auto; /* centers the widget */
  }
  
  #neossg table tr td {
	padding: 5px; /* creates some space between the links and text inside the widget */
  }
  
  #neossg .webring-prev {
	text-align:right;
  }
  
  #neossg .webring-info {
	 text-align:center;
  }
  
  #neossg .webring-next {
	text-align:left;
  }
  
  #neossg .webring-links {
	font-size:small;
  }

  #neossg a {
	text-decoration: none;
}
