@import "cssreset";
@import "journalring/variables";
@import "journalring/stickers";
@import "journalring/form";
@import "journalring/previews";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  scrollbar-color: $highlightColor $boxColor;
  font-family: $labelFont;
  color: $bodyColor;
  font-size: 0.93vw;
  transition: background-color 0.2s ease;
  background: url('/images/webrings/journalring/x14-bg-checked.gif');

  ::selection {
    background: $highlightColor;
  }

  ol {
    list-style-type: integer;

    li {
      margin-left: 1em;
      padding-bottom: 0.5em;
    }
  }

  ul {
    list-style-type: circle;

    li {
      margin-left: 1em;
    }
  }

  a {
    color: $linkColor;
  }

  p+p {
    margin: 1em 0;
  }

}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	position: fixed;
	right: 12px;
	z-index: 1;
	&-track {
		box-shadow: 0;
		border-radius: 0px;
	}
	&-thumb {
    border: 1px solid $linkColor;
		background:  $highlightColor;
		border-radius: 0px;
	}
}
.post ::-webkit-scrollbar-track {
	border-left: 0px solid  $highlightColor;
}


.highlight {
  background-color: $highlightColor;
}

.written {
  font-family: $bodyFont;
}

.journal-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: url('/images/webrings/journalring/hobonichi.png') center / contain no-repeat;

  @media screen and (max-width: 768px) {   
    transform: rotate(-90deg); 
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    
  }


  .pages {
    margin-top: 3.75%;
    display: flex;
    width: calc(100vh - 3.5vw);
    height: 65%;  

    @media screen and (max-width: 768px) {   
      width: calc(45vh - 3.5vh);
      height: 100%;      
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px) {
      font-size: $tabletFontSize;
      margin-top: 6%;
      width: calc(100vh - 8vw);
    }
  

    .left-page,
    .right-page {
      flex: 1;
      position: relative;

      @media screen and (max-width: 768px) {   
        font-size: $mobileFontSize;
      }
    

      .page-header {
        border: 1px solid;
        margin: 1em;
        width: 10em;
        height: 3em;
        display: inline-flex;
        background-color: $boxColor;

        &::before {
          content: attr(data-page-number);
          text-align: center;
          align-self: center;
          width: 1em;
          border-right: 1px dashed;
          padding: 1em;
          margin-right: 1em;
          font-family: $labelFont;
        }

        .page-title {
          font-family: $headerFont;
          align-self: center;
        }
      }


      .content {
        margin: 0 1.5em;
        padding: 0 1em;
        border-left: 1px solid;
        max-height: 52vh;        
        overflow: auto;
        font-family: $bodyFont;
        @media screen and (max-width: 768px) {         
          max-height: 53vw;
        }

      }

      .members-page {
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-size: 0.82vw;
        width: 88%;        
        overflow: auto;
        max-height: 54vh;
        margin-left: 1em;
        font-family: $headerFont;
        @media screen and (max-width: 768px) {   
          font-size: $mobileFontSize;
          max-height: 53vw;
        }

        @media only screen and (min-device-width : 768px) and (max-device-width : 1180px) {
          font-size: $tabletFontSize;
        }

        .member-box {
          border: 1px solid #000;
          background-color: $boxColor;
          display: flex;
          flex-wrap: wrap;

          .field {
            width: 40%;
            padding: 0.5em;
            box-sizing: border-box;

            &--name {
              border-right: 1px solid;
            }

            &--url {
              width: 60%;
            }

            &--description {
              border-top: 1px solid;
              width: 100%;
              padding: 0 auto;
              max-height: 3rem;
              overflow-y: auto;
            }
          }
        }
      }

      .quote-box {
        width: 90%;
        padding: 0.75em;
        margin: 1em;
        margin-left: 1em;
        font-family: $headerFont;
        background-color: $boxColor;
        border: 1px solid;
        font-size: 0.9vw;
        @media screen and (max-width: 768px) {   
          font-size: $mobileFontSize;
        }
        @media only screen and (min-device-width : 768px) and (max-device-width : 1180px) {
          font-size: $tabletFontSize;
        }
      
        ul {
          list-style-type: "\2661";

          li {
            padding-left: 0.5em;
          }
        }
      }
    }

    .left-page {
      order: 1;
    }

    .right-page {
      order: 2;

      .tabs {
        font-family: $labelFont;
        display: flex;
        position: absolute;
        top: 25em;
        right: -2em;
        width: 25em;
        rotate: 90deg;
        transform-origin: top right;

        .tab {
          text-align: center;
          border-radius: 10%;
          padding: 0.75em;
          cursor: pointer;
          position: relative;

          &:nth-child(1) {
            background-color: $tab1Color;
          }

          &:nth-child(2) {
            background-color: $tab2Color;
          }

          &:nth-child(3) {
            background-color: $tab3Color;
          }

          &:hover {
            transform: translateY(-0.1em);
          }

          &.active {
            transform: translateY(0.75em);            
          }
        }
      }


    }

  }


}

.navbuttons {
  margin: 0.5em 1.75em 0.5em 1em;
  display: flex;
  justify-content: flex-end;  
  
  button {
    cursor: pointer;
    font-family: $headerFont;
    background-color: $boxColor;
    border-radius: 0.4em;
    border: 1px solid;
    padding: 0.3em;
    margin: 0 0.25em;
    &:hover {
        background-color: $highlightColor;
      }
  }
}