<div class="item small {{ .Get "filter" }}">
    <div class="cards">
        <div class="cardsHeader">
            <div class="cardsControls">
                <div class="row justify-content-between">
                    <div class="col-4"> <i class="fa-solid fa-arrows-up-down-left-right"></i></div>
                    <div class="col-auto"> <i class="fa-solid fa-window-minimize"></i> <i class="fa-regular fa-window-restore"></i> <i class="fa-solid fa-xmark"></i></div>
                </div>
            </div>
        </div>
        <div class="cardsBody">
            <h1 id="{{ .Get "id" }}">{{ .Get "title" }}</h1>
            <p> {{ .Inner | markdownify | safeHTML }} </p>
        </div>
    </div>
</div>