/* Base styles */

html, *, *:before, *:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--primary);
	color: var(--secondary);
	font-family: var(--body-font);
	overflow-x: hidden;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--header-font);
	line-height: 1.1;
	font-weight: normal;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.75rem;
}

h5 {
	font-size: 1.5rem;
}

h6 {
	font-size: 1.25rem;
}

p {
	margin: 1em 0;
}

ul, ol {
	margin-left: 30px;
}

body a, body a:visited {
	color: var(--secondary);
	text-decoration: underline;
}

body a:hover {
	color: var(--secondary_muted);
	text-decoration: none;
}
  
::selection {
	color: var(--primary);
	background: var(--secondary_muted);
  }


blockquote {
	margin: 20px 0 10px 10px;
	padding: 0 0 0 10px;
	border-left: solid 1px var(--secondary);
}

p, ul, li, span, .sort-btn, #aWrap, #aPlay, #aList, .aRow, .gist, #microblog_recent .postText, blockquote{
	font-size: var(--body-font-size);
}

/* Utility */
.columns {
	display: grid;
	margin: auto auto;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	grid-column-gap: 6px;
	grid-row-gap: 6px;
	align-items: center;
   justify-items: center;
  }

  .small {
	grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

.space-between {
	justify-content: space-between;
}

.centered {
	justify-content: center;
}

.img-fluid {
	height: auto;
	max-width: 100%;
}

.blocks {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
  }

/* Preloader */
#preloader {
	align-items: center;
	width: 100%;
	display: flex;
	position: fixed;
	height: 100vh;
	justify-content: center;
	left: 0;
	top: 0;
	background: var(--secondary) url("../images/icons/three-dots.svg") no-repeat center;
    transition: opacity 1s;
	z-index: 9999;
  }

/* Nav */
nav {
	text-align: center;
}

nav#navAlt {
	float: right;
	width: 220px;
	position: sticky;
	top: 0;
	margin: 5em 3em 0 0;
}

nav#navAlt > div {
	margin: 15px auto;
}

nav#nav a {
	text-decoration: none;
}

nav#nav {
	float: left;
	width: 18vw;
	padding: 5px;
	margin: 1em;
}

.navLink {
	overflow: hidden;
	font-size: calc(var(--body-font-size) / 1.2);
	margin: 1em 0;
	text-transform: uppercase;
	color: var(--secondary);
	width: 8vw;
}

.navLink > div {
	height: 40px;
	max-width: 50px;
	text-align: center;
	justify-content: center;
	margin: 5px auto;
}

.navLink > #home {
	background: var(--homeLink) center / contain no-repeat;
}

.navLink > #about {
	background: var(--aboutLink) center / contain no-repeat;
}

.navLink > #gallery {
	background: var(--galleryLink) center / contain no-repeat;
}

.navLink > #commissions {
	background: var(--commissionsLink) center / contain no-repeat;
}

.navLink > #code {
	background: var(--codeLink) center / contain no-repeat;
}

.navLink > #blog {
	background: var(--blogLink) center / contain no-repeat;
}

.navLink > #links {
	background: var(--linksLink) center / contain no-repeat;
}

.navLink > #microblog {
	background: var(--microblogLink) center / contain no-repeat;
}

.navLink > #library {
	background: var(--libraryLink) center / contain no-repeat;
}

.navLink > #shrines {
	background: var(--shrinesLink) center / contain no-repeat;
}

.navWrapper {
	border: 2px solid var(--secondary);
	padding: 1em 0.2em;
	background-color: var(--tertiary);
	box-shadow: 6px 6px var(--secondary_muted);
}

/* Muuri */
.grid {
	position: relative;
	justify-content: center;
	margin: 1em 0em 5em 0em;
  }

  .grid-wrapper {
	margin-left: 22vw;
  }

  .grid-wrapper-page {
	margin-right: 20vw; 
	margin-left: 5vw;
  }

  .item {
	position: absolute;	
	margin: 1em;
	z-index: 1;
  }

  .item.muuri-item-hidden {
	z-index: 0;
  }

  .item.muuri-item-releasing {
	z-index: 2;
  }

  .item.muuri-item-dragging {
	z-index: 3;
  }

  .item.small {
	width: 250px;
  }

  .item.medium {
	width: 300px;
  }

  .item.mediumlarge {
	width: 350px;
  }

  .item.smallarge {
	width: 450px;
  }

  .item.large {
	width: 700px;
	margin-left: 15vw;
  }

/* Cards */
.cards {
	border: 2px solid var(--secondary);
	background-color: var(--tertiary);
	box-shadow: 6px 6px var(--secondary_muted);
	word-wrap: break-word;
	overflow: hidden;
}

.cardsTitle {
	font-weight: bold;
	font-style: italic;
	word-wrap: break-word;
	color: var(--secondary);
}

.cardsBody {
	padding: 1.25em;
}

.cardsHeader {
	cursor: grab;
	height: 2.5em;
	background-color: var(--secondary);
	color: var(--tertiary);
}

.cardsControls {
	font-size: 14px;
	padding: 7px;
	color: var(--tertiary);
	display: flex;
	justify-content: space-between;
}

.cardsControls > div {
	padding: 5px;
}

/* Comment box */
#HCB_comment_box, .btn, input#hcb_submit, .hcb-comment-tb button, #HCB_comment_box input,#HCB_comment_box input.btn,#HCB_comment_box select,#HCB_comment_box textarea, span.date, .gist .gist-file {
	font-family: var(--body-font)!important;
}

.home-desc, .hcb-icon {
	display: none!important;
}

.hcb-comment-tb button {
	color: var(--secondary)!important;
}

#hcb_submit, input#hcb_submit{
	color: var(--tertiary)!important;
	background-color: var(--secondary)!important;
	border: none!important;
}

#HCB_comment_box .comment a img {
    margin: 0 0 8px;
    border-left: 1px solid !important;
    padding-left: 5px !important;
}

/* Twemoji */
img.emoji {
	height: 1.5em;
	width: 1.5em;
}

/* Music */
/* (A) MATERIAL ICONS */
.material-icons {
	font-size: 28px;
	color: var(--secondary);
}
  
  /* (B) WRAPPER */
#aWrap {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	background: var(--tertiary);
	border: 2px solid var(--secondary);
}
  
  /* (C) PLAY/PAUSE BUTTON */
#aPlay {
	padding: 0;
	margin-top: 5px;
	border: 0;
	cursor: pointer;
}
  
#aPlay:hover {
	background: transparent;
}

  /* (D) TIME */
#aCron {
	color: var(--secondary);
	margin: 0px 10px;
}
  
  /* (E) RANGE SLIDERS */
  /* (E1) HIDE DEFAULT */
#aWrap input[type="range"] {
	box-sizing: border-box;
	width: 60%;
	appearance: none;
	border: none;
	outline: none;
	box-shadow: none;
	text-align: center;
	padding: 0;
	margin: 0;
	background: 0;
}

#aWrap input[type="range"]::-webkit-slider-thumb {
	appearance: none;
}
  
  /* (E2) CUSTOM SLIDER TRACK */
#aWrap input[type=range]::-webkit-slider-runnable-track {
	background: var(--secondary);
}

#aWrap input[type=range]::-moz-range-track {
	background: var(--secondary);
}
  
  /* (E3) CUSTOM SLIDER BUTTON */
#aWrap input[type=range]::-webkit-slider-thumb {
	width: 16px;
	height: 16px;
	margin: 1px;
	border-radius: 50%;
	border: 1px solid var(--secondary);
	background: var(--tertiary);
}

#aWrap input[type=range]::-moz-range-thumb {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid var(--secondary);
	background: var(--tertiary);
}
  
  /* (G) PLAYLIST */
#aList {
	position: relative;
	width: 100%;
	height: 22rem;
	overflow: scroll;
	margin-top: 10px;
	padding: 10px;
	color: var(--secondary);
	background-color: var(--tertiary);
	border: 2px solid var(--secondary);
}

.aRow {
	word-wrap: break-word;
	display: inline-block;
	cursor: pointer;
	padding: 10px;
}

.aRow.now {
	color: var(--secondary);
	background-color: var(--primary);
	width: 100%;
}

/* Music Player 2 */
#musicplayer {
	display: grid;
	grid-template-columns: 20px auto;
	align-items: center;
	width: 100%;
	font-size: 0.8rem;
	line-height: 140%;
	background: var(--tertiary);
	border: 2px solid var(--secondary);
	box-shadow: 6px 6px var(--secondary_muted);
}

#musicpixel {
	width: 33px;
	padding: 10px;
	position: relative;
	min-height: 20px;
	background: var(--tertiary);
	border-right: 2px solid var(--secondary);
}

.overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	transition: 0.3s ease;
	background: var(--primary);
}

#musicplayer:hover .overlay {
	opacity: 1;
	transition: 0.3s ease;
}

.playpause {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -50%);
	color: var(--secondary);
}

.playpause:hover {
	cursor: pointer;
}

#musictitle {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	width: calc(100% - 10px - 1px);
	margin-left: calc(10px + 1px);
}

.marquee {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 8s linear infinite;
	font-size: 0.8rem;
}

@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

/* Material Icons */
/* Fallback */
@font-face {
	font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-osx-font-smoothing: grayscale;
}

/* Back to top */
#btn-back-to-top {
	color: var(--secondary);
	font-size: 1.5em;
	position: fixed;
	bottom: 3px;
	right: 90px;
	z-index: 9999;
	cursor: pointer;
	display: none;
}

#btn-back-to-top span {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 0;
}

#btn-back-to-top:hover {
	color: var(--secondary_muted);
	opacity: 1;
	filter: "alpha(opacity=100)";
	-ms-filter: "alpha(opacity=100)";
}

/* Arrows */
.arrows {
	text-align: center;
	font-size: 1.1em;
	padding: 5px;
	background-color: var(--tertiary);
	border: 2px solid var(--secondary);
	box-shadow: 6px 6px var(--secondary_muted);
}

/* Tag filters */
.sort-btn{
	text-align: center;
	padding: 0 5px;
	margin-left: 0;
}

.sort-btn li{
	font-size: 0.8rem;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	border: 2px solid var(--secondary);
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.sort-btn li:hover, .sort-btn li.active{ 
	color: var(--primary);
	background-color: var(--secondary);
	border-color: var(--primary);
}

/* Clock */
.clock {
    padding: 3px;	
	color: var(--secondary);
}

/* Search */
.search {
	position: relative; 
	margin: 0 auto;
	display: flex;
	height: 100%;
	box-shadow: 6px 6px var(--secondary_muted);
}

.searchTerm {
	width: 100%;
	line-height: 140%;
	border: 2px solid var(--secondary);
	border-right: none;
	padding: 5px;
	height: 40px;
	outline: none;
	color: var(--secondary);
}

.searchTerm:focus {
	color: var(--secondary);
}

.searchButton {
	border: 2px solid var(--secondary);
	color: var(--secondary);
	text-align: center;
	justify-content: center;
	cursor: pointer;
	font-size: 20px;
	margin: 0;
	height: 40px;
	width: 40px;
}

.summary-title-link, .read-more-link, .summary {
font-size: 0.9em	
}

/*Code img*/
.preview {
     display: flex;
     flex-wrap: nowrap;
	 max-width: 100%;
	 gap: 1em;
}

.preview > img {
     margin: 5px;
}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	position: fixed;
	right: 12px;
	z-index: 1;
}

::-webkit-scrollbar-track {
	box-shadow: 0;
	border-radius: 0px;
	background-color: var(--tertiary);
}

.post ::-webkit-scrollbar-track {
	border-left: 0px solid var(--secondary);
}

::-webkit-scrollbar-thumb {
	background: var(--secondary);
	border-radius: 0px;
}

/* Code boxes */
textarea {
	resize: vertical;
	width: 100%;
	min-height: 8vh;
	border: 1px solid var(--secondary);
	border-radius: 5px;
	font-size: 0.8em;
}

textarea::-webkit-scrollbar {
	display: none;
}
 
/* Iframes */
iframe.pet {
	width: 100%;
	height: 24em;
	color: var(--secondary);
}

iframe.yt {
	height: 100%;
	width: 100%;
} 

/* Scrollbox */
.scrollbox {
	max-height:15em; 
	overflow-y: scroll;
	overflow-x: hidden;
}

.large-scrollbox {
	max-height: 35em; 
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Banners */
.banner {
	display: flex; 
    justify-content: center;
	overflow-x: hidden;
}

.banner a {
	text-decoration: none;
	justify-content: center;
}

.banner p, nav#navAlt p {
	margin: 0;
}

.banner img {
	padding: 1px;
	max-width: 100%;
	max-height: 100%;
}

@media screen and (max-width:768px) {
	.banner img {
		justify-content: center;
	}
}

button {
	font-size: 1em;
	transition: all .3s ease-in-out;
	color: var(--secondary);
	background-color: var(--tertiary);
	border: 2px solid var(--secondary);
	cursor: pointer;
    padding: 0;
	margin: 5px;
}

button:hover,
button.active {
	color: var(--primary);
	background-color: var(--secondary);
	border-color: var(--primary);
}

.gist {
	max-width:100%;
 }
 
 /* Limit height. Show scrollbars when exceeding height */
 .gist .blob-wrapper.data {
	max-height:15em;
	overflow: auto;
 }

 .gist ::-webkit-scrollbar {
width: 4px;
height: 4px;
} 

/* Boxes */
.stats {
	float: left;
	border: 1px solid var(--secondary);
	background-color: var(--tertiary);
	box-shadow: 0.1em 0.1em 0.2em  var(--secondary);
	margin: 0 10px 10px 0;
	padding: 8px;
	max-width: 280px;
	height: 2.5em;
}

.box {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--secondary);
	box-shadow: 0.1em 0.1em 0.2em  var(--secondary);
	background-color: var(--tertiary);
	min-width: 100px;
	z-index: 100;
	padding: 0px 10px;
	word-wrap: break-word;
}

.box-small {
	border: 1px solid var(--secondary);
	box-shadow: 0.1em 0.1em 0.2em  var(--secondary);
	background-color: var(--tertiary);
	padding: 10px;
	margin: 10px;
	word-wrap: break-word;
}

/*Microblog*/
#microblog_recent {
	display: flex;
	flex-wrap: wrap;
	border: var(--secondary) 1px solid;
	padding: 5px;
}

#microblog_recent .profilePic {
	float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
	margin: 5px 10px;
}

#microblog_recent .profilePic:hover {
	filter: drop-shadow(0px 0px 20px var(--secondary));
}

#microblog_recent .postContent {
	display: block;
	margin-bottom: 0;
  } 
 
  #microblog_recent .postText {
	padding: 0.5em;
  }

#microblog_recent .postImage { 
	display: flex;
	align-content: center;
	max-width: 100%;   
	padding: 0.5em;
}

/* Footer */
footer {
	z-index: 9900;
	position: absolute;
}

footer#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	background-color: var(--tertiary);
	border-top: 2px solid var(--secondary);
	padding-bottom: 10px;
}

footer#footer ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	margin: 0;
	height: 30px;
}

footer#footer ul li {
	float: left;
	height: 30px;
}

footer#footer ul li a {
	font-size: 1em;
	line-height: 24px;
	height: 28px;
	padding: 0px 20px;
	border: 2px solid var(--secondary);
	color: var(--secondary);
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	text-decoration: none;
}

footer#footer ul li a:hover, footer#footer ul li a.selected {
	background-color: var(--secondary);
	color: var(--primary);
}

#footer-button {
	font-size: 1em;
	line-height: 24px;
	margin: auto 0;
	height: 28px;
	padding: 0px 20px;
	border: 2px solid var(--secondary);
	color: var(--secondary);
	background-color: var(--tertiary);
  }

/* Start menu */
 .modal {
	background-color: var(--secondary_muted);
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  .modal-content {
    position: fixed;
    bottom: 35px;
    background-color: var(--tertiary);
    width: 400px;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: var(--secondary);
    float: right;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: var(--secondary_muted);
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--secondary_muted);
  }

	.modal-columns {
		display: grid;
		margin: auto auto;
		grid-template-columns: 40% auto;
		grid-column-gap: 6px;
		align-items: center;
	   justify-items: center;
	  }

	  .modal-bio li, .modal-bio ul {
		padding: 0;
		margin: 0;
		list-style: none;
	  }

	.modal-bio img {
		width: 100px;
		border-radius: 50px;
		border: 1px solid var(--secondary_muted);
	}

	.modal-bio img:hover {
		filter: drop-shadow(0px 0px 20px var(--secondary_muted));
	}

	.modal-list {
		border-left: 1px solid var(--secondary_muted);
		width: 100%;
	}

	.modal-list > a + a {
		border-top: 1px solid var(--secondary_muted);
	}

	.modal-list a:hover {
		color: var(--primary);
		background-color: var(--secondary_muted);
	}

	.modal-menu a:active { background-color: var(--secondary_muted); color: var(--primary); }

	.modal-menu {
		display: flex;
		justify-content: space-between;
		line-height: 1;
		padding: 10px 20px;
		font-weight: bold;
		text-decoration: none; 
	}

  .modal-footer {
	display: flex;
	justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid var(--secondary_muted);
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

/* Nested Menu */
ul.nestedmenu {margin-left: 0;}
ul.nestedmenu li {list-style: none;}
ul.nestedmenu li > a::before {content: "•"; display: inline-block; margin-right: 0.25rem; width: 0.5rem; text-align: center;}
ul.nestedmenu li.haschildren > a::before {content: "›";}
ul.nestedmenu li.active > ul {display: block;} 
ul.nestedmenu li.active > a { background-color: var(--secondary_muted); color: var(--primary); }

  /* Youtube */
  .youtube-player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
  }

  .youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }

  .youtube-player img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
  }

  .youtube-player img:hover {
	filter: brightness(75%);
    -webkit-filter: brightness(75%);
  }

  .youtube-player .play {
    height: 48px;
    width: 68px;
    left: 50%;
    top: 50%;
    margin-left: -34px;
    margin-top: -24px;
    position: absolute;
    background: url('https://i.ibb.co/j3jcJKv/yt.png') no-repeat;
    cursor: pointer;
  }

  /* Webrings */
.ring {
	border: 1px solid var(--secondary);
	border-radius: 5px;
	text-align: center;
	margin:10px;
	word-wrap: break-word;
}

#safont {
	width: 145px;
	height: 81px;
}

  #neossg {
	margin: 0 auto;
	padding: 5px; /* creates some space around the widget */
  /** gradient animation from https://alvarotrigo.com/blog/css-text-animations/ **/
	background-image: linear-gradient(
	  -225deg,
	  #522aff 0%,
	  #d916eb 50%,
	  #522aff 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #44107a;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
	display: inline-block;
	text-shadow: none;
	text-decoration: none;
	vertical-align: baseline;
  }
  
  @keyframes textclip {
	to {
	  background-position: 200% center;
	}
  }
  
  #neossg table {
	margin: 0 auto; /* centers the widget */
  }
  
  #neossg table tr td {
	padding: 5px; /* creates some space between the links and text inside the widget */
  }
  
  #neossg .webring-prev {
	text-align:right;
  }
  
  #neossg .webring-info {
	 text-align:center;
  }
  
  #neossg .webring-next {
	text-align:left;
  }
  
  #neossg .webring-links {
	font-size:small;
  }

  #neossg a {
	text-decoration: none;
}


@media screen and (max-width:768px) {
	.item.small, .item.medium, .item.mediumlarge, .item.smallarge, .item.large {
		width: 80vw;
		margin-left: 5vw;
	}

	nav {
		padding: 1.5rem 0;
	}

	nav#nav {
		float: none;
		width: 80vw;
		margin: 0 auto;
	}
		
	.navLink {
		width: 25vw;
	}

	nav#navAlt {
		float: none;
		position: relative;
		width: 60vw;
		margin: 0 auto;
		justify-content: center;
	}

	.grid-wrapper, 	.grid-wrapper-page {
		margin-left: 5vw;
	}

	.modal-content {
	width: 90vw;	
	}
 
  }
