/* Base styles */
html, *, *:before, *:after {
	box-sizing: border-box;
	scrollbar-color: var(--secondary_muted) var(--primary);
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--primary);
	color: var(--secondary);
	font-family: var(--body-font);
	font-size: var(--body-font-size);
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--header-font);
	line-height: 1.1;
	font-weight: normal;
}

h1 { font-size: 2.4rem; }

h2 { font-size: 2.2rem; }

h3 { font-size: 2rem; }

h4 { font-size: 1.8rem; }

h5 { font-size: 1.6rem; }

h6 { font-size: 1.4rem;}

p {
	margin: 10px 0;
}

ul, ol {
	margin: 5px 0 5px 30px;
}

hr {
	border: 1px solid var(--secondary);
	margin: 1em 0;
}

mark {
	color: var(--secondary);
	background-color: var(--primary);
}

body a,
body a:visited {
	color: var(--secondary);
	text-decoration: underline;
}

body a:hover {
	color: var(--secondary_muted);
	text-decoration: none;
}

::selection {
	color: var(--primary);
	background: var(--secondary_muted);
}

blockquote {
	margin: 10px 0 10px 10px;
	padding: 0 0 0 10px;
	border-left: solid 1px var(--secondary);
}

pre {
	overflow: scroll;
}

/* Utility */
.columns {
	display: grid;
	margin: auto auto;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	gap: 10px;
	align-items: center;
	justify-items: center;
}

.small {
	grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

.space-between {
	justify-content: space-between;
}

.centered {
	justify-content: center;
}

.img-fluid {
	height: auto;
	max-width: 100%;
}

.blocks {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

/* Preloader */
#preloader {
	align-items: center;
	width: 100%;
	display: flex;
	position: fixed;
	height: 100vh;
	justify-content: center;
	left: 0;
	top: 0;
	background: var(--secondary) url("../images/icons/three-dots.svg") no-repeat center;
	transition: opacity 1s;
	z-index: 9999;
}

/* Nav */
nav {
	text-align: center;
}

nav#navAlt {
	width: 15rem;
	position: sticky;
	align-self: flex-start;
	top: 0;
	margin: 3rem;
}

nav#navAlt>div {
	margin: 15px auto;
}

nav#nav a {
	text-decoration: none;
}

.wrapper {
	display: flex;
}

nav#nav {
	width: 18rem;
	padding: 5px;
	margin: 1em;
}

.navLink {
	overflow: hidden;
	font-size: calc(var(--body-font-size) / 1.2);
	margin: 1em 0;
	text-transform: uppercase;
	color: var(--secondary);
	width: 8rem;
}

.navLink>div {
	height: 40px;
	max-width: 50px;
	text-align: center;
	justify-content: center;
	margin: 5px auto;
}

.navLink>#home {
	background: var(--homeLink) center / contain no-repeat;
}

.navLink>#about {
	background: var(--aboutLink) center / contain no-repeat;
}

.navLink>#gallery {
	background: var(--galleryLink) center / contain no-repeat;
}

.navLink>#commissions {
	background: var(--commissionsLink) center / contain no-repeat;
}

.navLink>#code {
	background: var(--codeLink) center / contain no-repeat;
}

.navLink>#blog {
	background: var(--blogLink) center / contain no-repeat;
}

.navLink>#links {
	background: var(--linksLink) center / contain no-repeat;
}

.navLink>#microblog {
	background: var(--microblogLink) center / contain no-repeat;
}

.navLink>#library {
	background: var(--libraryLink) center / contain no-repeat;
}

.navLink>#nexus {
	background: var(--nexusLink) center / contain no-repeat;
}

.navWrapper {
	border: 2px solid var(--secondary);
	padding: 1em 0.2em;
	background-color: var(--tertiary);
	box-shadow: 6px 6px var(--secondary_muted);
}

/* Muuri */
.grid {
	position: relative;
	width: 80%;
	margin: 1em auto 5em auto;
	justify-content: center;
}

.item {
	position: absolute;
	margin: 1em;
	z-index: 1;
}

.item.muuri-item-hidden {
	z-index: 0;
}

.item.muuri-item-releasing {
	z-index: 2;
}

.item.muuri-item-dragging {
	z-index: 3;
}

.item.small {
	width: 15rem;
}

.item.medium {
	width: 18rem;
}

.item.smallarge {
	width: 27rem;
}

.item.large {
	width: 42rem;
}

/* Cards */
.cards {
	border: 2px solid var(--secondary);
	background-color: var(--tertiary);
	box-shadow: 6px 6px var(--secondary_muted);
	word-wrap: break-word;
	overflow: hidden;
}

.cardsTitle {
	font-weight: bold;
	font-style: italic;
	word-wrap: break-word;
	color: var(--secondary);
}

.cardsBody {
	padding: 1.25em;
}

.cardsHeader {
	cursor: grab;
	height: 2.5em;
	background-color: var(--secondary);
	color: var(--tertiary);
}

.cardsControls {
	font-size: 14px;
	padding: 7px;
	color: var(--tertiary);
	display: flex;
	justify-content: space-between;
}

.cardsControls>div {
	padding: 5px;
}

/* Comment box */
#HCB_comment_box, .btn, input#hcb_submit, .hcb-comment-tb button, #HCB_comment_box input,#HCB_comment_box input.btn, #HCB_comment_box select, #HCB_comment_box textarea, span.date, .gist .gist-file {
	font-family: var(--body-font) !important;
}

.home-desc, .hcb-icon {
	display: none !important;
}

.hcb-comment-tb button {
	color: var(--secondary) !important;
}

#hcb_submit, input#hcb_submit {
	color: var(--tertiary) !important;
	background-color: var(--secondary) !important;
	border: none !important;
}

#HCB_comment_box .comment a img {
	margin: 0 0 8px;
	border-left: 1px solid !important;
	padding-left: 5px !important;
}

/* Twemoji */
img.emoji {
	height: 1.3rem;
	width: 1.3rem;
}

/* Music Player 2 */
#musicplayer {
	display: grid;
	grid-template-columns: 20px auto;
	align-items: center;
	width: 100%;
	font-size: 0.8rem;
	line-height: 140%;
	background: var(--tertiary);
	border: 2px solid var(--secondary);
	box-shadow: 6px 6px var(--secondary_muted);
}

#musicpixel {
	width: 33px;
	padding: 10px;
	position: relative;
	min-height: 20px;
	background: var(--tertiary);
	border-right: 2px solid var(--secondary);
}

.overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	transition: 0.3s ease;
	background: var(--primary);
}

#musicplayer:hover .overlay {
	opacity: 1;
	transition: 0.3s ease;
}

.playpause {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -50%);
	color: var(--secondary);
}

.playpause:hover {
	cursor: pointer;
}

#musictitle {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	width: calc(100% - 10px - 1px);
	margin-left: calc(10px + 1px);
}

.marquee {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 8s linear infinite;
	font-size: 0.8rem;
}

@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

/* Back to top */
#btn-back-to-top {
	font-size: 1.5rem;
}

/* Arrows */
.arrows {
	text-align: center;
	font-size: 1.1rem;
	padding: 5px;
	background-color: var(--tertiary);
	border: 2px solid var(--secondary);
	box-shadow: 6px 6px var(--secondary_muted);
}

/* Tag filters */
.sort-btn {
	text-align: center;
	padding: 0 5px;
	margin-left: 0;
}

.sort-btn li {
	font-size: 0.8rem;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	border: 2px solid var(--secondary);
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.sort-btn li:hover,
.sort-btn li.active {
	color: var(--primary);
	background-color: var(--secondary);
	border-color: var(--primary);
}


/* Search */
.search {
	position: relative;
	margin: 0 auto;
	display: flex;
	box-shadow: 6px 6px var(--secondary_muted);
}

.searchTerm {
	width: 100%;
	line-height: 140%;
	border: 2px solid var(--secondary);
	border-right: none;
	padding: 5px;
	height: 40px;
	outline: none;
	color: var(--secondary);
}

.searchTerm:focus {
	color: var(--secondary);
}

.searchButton {
	border: 2px solid var(--secondary);
	color: var(--secondary);
	text-align: center;
	justify-content: center;
	cursor: pointer;
	font-size: 20px;
	margin: 0;
	height: 40px;
	width: 40px;
}

/*Code img*/
.preview {
	display: flex;
	flex-wrap: nowrap;
	max-width: 100%;
	gap: 1em;
}

.preview>img {
	margin: 5px;
}

.preview p {
	margin: 5px 0;
}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	position: fixed;
	right: 12px;
	z-index: 1;
}

::-webkit-scrollbar-track {
	box-shadow: 0;
	border-radius: 0px;
	background-color: var(--tertiary);
}

.post ::-webkit-scrollbar-track {
	border-left: 0px solid var(--secondary);
}

::-webkit-scrollbar-thumb {
	background: var(--secondary);
	border-radius: 0px;
}

/* Code boxes */
textarea {
	resize: vertical;
	width: 100%;
	min-height: 8vh;
	border: 1px solid var(--secondary);
	border-radius: 5px;
	font-size: 0.8em;
}

textarea::-webkit-scrollbar {
	display: none;
}

/* Iframes */
iframe.pet {
	width: 100%;
	height: 24em;
	color: var(--secondary);
}

iframe.yt {
	height: 100%;
	width: 100%;
}

/* Scrollbox */
.scrollbox {
	max-height: 15em;
	overflow-y: scroll;
	overflow-x: hidden;
}

.large-scrollbox {
	max-height: 35em;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Banners */
.banner {
	display: flex;
	justify-content: center;
	overflow-x: hidden;
}

.banner a {
	text-decoration: none;
	justify-content: center;
}

.banner p,
nav#navAlt p {
	margin: 0;
}

.banner img {
	padding: 1px;
	max-width: 100%;
	max-height: 100%;
}

@media screen and (max-width:768px) {
	.banner img {
		justify-content: center;
	}
}

button {
	transition: all .3s ease-in-out;
	color: var(--secondary);
	background-color: var(--tertiary);
	border: 2px solid var(--secondary);
	cursor: pointer;
	padding: 0;
	margin: 5px;
}

button:hover,
button.active {
	color: var(--primary);
	background-color: var(--secondary);
	border-color: var(--primary);
}

.gist {
	max-width: 100%;
}

/* Limit height. Show scrollbars when exceeding height */
.gist .blob-wrapper.data {
	max-height: 15em;
	overflow: auto;
}

.gist ::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

/* Boxes */

.stats-box {
	display: flex;
	flex-wrap: wrap;
}

.stats {
	border: 1px solid var(--secondary);
	background-color: var(--tertiary);
	box-shadow: 0.1em 0.1em 0.2em var(--secondary);
	margin: 0 10px 10px 0;
	padding: 8px;
	height: 2.5em;
}

.box {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--secondary);
	box-shadow: 0.1em 0.1em 0.2em var(--secondary);
	background-color: var(--tertiary);
	min-width: 100px;
	z-index: 100;
	padding: 0px 10px;
	word-wrap: break-word;
}

.box-small {
	border: 1px solid var(--secondary);
	box-shadow: 0.1em 0.1em 0.2em var(--secondary);
	background-color: var(--tertiary);
	padding: 10px;
	margin: 10px;
	word-wrap: break-word;
}

/* Footer */
footer {
	z-index: 9000;
	position: fixed;
}

footer#footer {
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--tertiary);
	border-top: 2px solid var(--secondary);
}

footer#footer ul {
	list-style: none;
	display: flex;
	padding: 0 5px;
	margin: 0;
	height: 2.6rem;
}

footer#footer ul li {
	margin: auto 0;
}

footer#footer ul li:first-child {
	flex: 1;
}

footer#footer ul li a {
	padding: 0px 10px;
	display: inline-flex;
	text-decoration: none;
}

footer#footer ul li a:hover,
footer#footer ul li a.selected {
	color: var(--secondary_muted);
}

#footer-button {
	font: var(--body-font);
	font-size: 1rem;
	padding: 0px 20px;
	border: 2px solid var(--secondary);
	color: var(--secondary);
}

#footer-button:hover,
#footer-button:focus {
	background-color: var(--secondary);
	color: var(--tertiary);
}

/* Start menu */
.modal {
	background-color: var(--secondary_muted);
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s
}

.modal-content {
	position: fixed;
	bottom: 35px;
	background-color: var(--tertiary);
	width: 400px;
	border: 1px solid var(--secondary);
	border-radius: 10px;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s
}

/* The Close Button */
.close {
	color: var(--secondary);
	float: right;
	font-size: 3rem;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: var(--secondary_muted);
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid var(--secondary_muted);
}

.modal-body {
	display: flex;
}

.modal-bio {
	text-align: center;
	margin: 1rem;
}

.modal-bio ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: left;
}

.modal-bio img {
	width: 100px;
	border-radius: 50px;
	border: 1px solid var(--secondary_muted);
}

.modal-bio img:hover {
	filter: drop-shadow(0px 0px 20px var(--secondary_muted));
}

.modal-list {
	border-left: 1px solid var(--secondary_muted);
	flex: 1;
}

.modal-list>a+a {
	border-top: 1px solid var(--secondary_muted);
}

.modal-list a:hover {
	color: var(--primary);
	background-color: var(--secondary_muted);
}

.modal-menu a:active {
	background-color: var(--secondary_muted);
	color: var(--primary);
}

.modal-menu {
	display: flex;
	justify-content: space-between;
	line-height: 1;
	padding: 10px 20px;
	font-weight: bold;
	text-decoration: none;
}

.modal-footer {
	display: flex;
	justify-content: flex-end;
	padding: 1rem;
	border-top: 1px solid var(--secondary_muted);
}

/* Add Animation */
@-webkit-keyframes slideIn { from { bottom: -300px; opacity: 0 } to { bottom: 0; opacity: 1 } }
@keyframes slideIn { from { bottom: -300px; opacity: 0 } to { bottom: 0; opacity: 1 } }
@-webkit-keyframes fadeIn { from { opacity: 0 } to { opacity: 1 } }
@keyframes fadeIn { from { opacity: 0 } to { opacity: 1 } }

  
  /* Default Table Style */
  table {
	color: var(--primary);
	background: var(--secondary_muted);
	border: 1px solid var(--primary);
	font-size: 12pt;
	border-collapse: collapse;
  }
  table thead th,
  table tfoot th {
	color: var(--primary);
	background: rgba(0, 0, 0, 0.178);
  }
  table caption {
	padding:.5em;
  }
  table th,
  table td {
	padding: .5em;
	border: 1px solid var(--primary);
  }

/* Youtube */
.youtube-player {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	background: #000;
	margin: 5px;
}

.youtube-player iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: transparent;
}

.youtube-player img {
	object-fit: cover;
	display: block;
	left: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	height: auto;
	cursor: pointer;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	transition: 0.4s all;
}

.youtube-player img:hover {
	filter: brightness(75%);
	-webkit-filter: brightness(75%);
}

.youtube-player .play {
	height: 48px;
	width: 68px;
	left: 50%;
	top: 50%;
	margin-left: -34px;
	margin-top: -24px;
	position: absolute;
	background: url('https://i.ibb.co/j3jcJKv/yt.png') no-repeat;
	cursor: pointer;
}

@media screen and (max-width:768px) {
	.item.small, .item.medium, .item.mediumlarge, .item.smallarge, .item.large {
		width: 80vw;
		margin: 1.2rem auto;		
	}

	nav {
		padding: 1.5rem 0;
	}

	nav#nav {
		float: none;
		width: 80vw;
		margin: 0 auto;
	}

	.navLink {
		width: 25vw;
	}

	nav#navAlt {
		float: none;
		position: relative;
		width: 60vw;
		margin: 0 auto;
		justify-content: center;
	}

	.wrapper {
		display: block;
	}

	.modal-content {
		width: 90vw;
	}
}