<!DOCTYPE html>
<html lang="en-US">
{{- partial "head.html" . -}}
{{- partial "preloader.html" . -}}

<body>
    <div class="wrapper">
        {{- block "main" . }}{{- end }}
        <div class="grid">                 
            {{.Content}}
            {{ range .Pages }}
            <div class="item medium">
                <div class="cards">
                    {{- partial "card-header.html" . -}}
                    <div class="cardsBody">
                        <h4>{{.Title}}</h4>
                        <p> {{.Date.Format "Jan 02, 2006"}} </p>
                        <blockquote>
                            <p> {{ .Summary | truncate 300 }} </p>
                        </blockquote>
                        <div class="row space-between">
                            <p> {{ range (.GetTerms "tags") }} <i class="fa-solid fa-hashtag"></i> <a
                                    href="{{ .Permalink }}">{{ .LinkTitle }}</a> {{ end }} </p>
                            <p> <a href="{{.Permalink}}"> Keep reading <i class='fa fa-long-arrow-right'></i></a> </p>
                        </div>
                    </div>
                </div>
            </div> {{ end }}
        </div>
    </div>
    {{- partial "footer.html" . -}}
    {{- partial "scripts.html" . -}}
</body>

</html>