{{ define "main" }}
<main>
    <article>
        <div class="wrapper">
            <nav id="navAlt">
                <div class="navWrapper"> <a class="navLink" href="/tags">
                        <div id="blog"> </div>Tags
                    </a>               
                </div>
            {{- partial "mini-music.html" . -}} {{- partial "search-bar.html" . -}}
            </nav>
            <div class="grid">
                    <div class="item smallarge">
                        <div class="cards">
                            {{- partial "card-header.html" . -}}
                        <div class="cardsBody"> 
                            <h2>#{{.Title}}</h2>
                            {{- partial "tags.html" . -}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main> 
{{ end }}