{{ define "main" }}
<div class="wrapper">
    <nav id="navAlt">
        <div class="navWrapper"> <a class="navLink" href="/blog">
                <div id="links"></div>Webrings </a>
            <p><i class="fa-regular fa-circle-down"></i></p>            
            <p>Webrings I've created.</p>
        </div>
        {{- partial "mini-music.html" . -}}
        {{- partial "search-bar.html" . -}}
    </nav>
    
    <div class="grid"> {{.Content}} {{ range .Pages }}
        <div class="item large">
            <div class="cards">
                {{- partial "card-header.html" . -}}
                <div class="cardsBody">
                    {{ if .Params.thumbnail }}
                    <img class="thumbnail" src="{{ .Params.thumbnail }}" alt="Thumbnail Image">
                    {{ end }}
                    <h4>{{.Title}}</h4>                    
                    <p>{{.Date.Format "Jan 02, 2006"}}</p>
                    <blockquote>
                        <p>{{ .Summary | truncate 300 }}</p>
                    </blockquote>
                    <div class="row space-between">
                        <p>
                            {{ range (.GetTerms "tags") }}
                            <i class="fa-solid fa-hashtag"></i>
                            {{ .LinkTitle }}
                            {{ end }}
                        </p>
                        <p><a href="{{.Permalink}}">Keep reading <i class='fa fa-long-arrow-right'></i></a></p>
                    </div>
                </div>
            </div>
        </div>
        
        {{ end }}
    </div>
</div>
{{ end }}