{{ define "main" }}
<nav id="nav">
    <div class="row justify-content-center">
        <div class="col-3 col-lg-6"> <a class="navLink" href="/">
                <div id="home"><br><br></div>Home
            </a> </div>
        <div class="col-3 col-lg-6"> <a class="navLink" href="/about">
                <div id="about"><br><br></div>About
            </a> </div>
        <div class="col-3 col-lg-6"> <a class="navLink" href="/gallery">
                <div id="gallery"><br><br></div>Gallery
            </a> </div>
        <div class="col-3 col-lg-6"> <a class="navLink" href="/commissions">
                <div id="commissions"><br><br></div>Commissions
            </a> </div>
        <div class="col-3 col-lg-6"> <a class="navLink" href="/code">
                <div id="code"><br><br></div>Code
            </a> </div>
        <div class="col-3 col-lg-6"> <a class="navLink" href="/blog">
                <div id="blog"><br><br></div>Blog
            </a> </div>
        <div class="col-3 col-lg-6"> <a class="navLink" href="/links">
                <div id="links"><br><br></div>Links
            </a> </div>
        <div class="col-3 col-lg-6"> <a class="navLink" href="/microblog">
                <div id="microblog"><br><br></div>Microblog
            </a> </div>
            <div class="col-3 col-lg-6"> <a class="navLink" href="/library">
                <div id="library"><br><br></div>Library
            </a> </div>
            <div class="col-3 col-lg-6"> <a class="navLink" href="/shrines">
                <div id="shrines"><br><br></div>Shrines
            </a> </div>
    </div> 
    <div class="row justify-content-center">
        <div class="col-12 col-lg-auto py-3">
            <div class="search"> <input type="text" class="searchTerm" placeholder="Search..."> <button type="submit" class="searchButton"> <i class="fa fa-search"></i> </button> </div>
        </div>
    </div>
</nav>
<body>
<div class="row justify-content-center">
    <div class="grid"> {{.Content}} </div>
    </div> 
    <script type="text/javascript" src="/js/audioPlayer.js" defer></script>
</body>
{{ end }}